@model TaskTableMVC_app.ViewModels.SubTaskVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>SubTaskVM</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div align="right">
    <button type="submit" class="btn btn-primary">
        @Html.ActionLink("Add New Sub Task", "AddSubTask")
    </button>
</div>
<h2 align="center">Sub Tasks List</h2>
@using (Html.BeginForm())
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Sub Task Detail</th>
                <th>DOI</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.SubTasks.Count == 0)
                {
                    <tr>
                        <td colspan="5">No sub tasks!</td>
                    </tr>
                }
                else
                {
                    foreach (var task in Model.SubTasks)
                    {
                        <tr>
                            <td>@task.ID</td>
                            <td>@task.TaskDetail</td>
                            <td>@task.DOI</td>
                            <td>@task.Status</td>
                            <td>
                                <button type="submit" class="btn btn-success">
                                    @Html.ActionLink("Edit", "UpdateSubTask")
                                </button>                             
                                <button type="submit" class="btn btn-danger">
                                    @Html.ActionLink("Delete", "DeleteSubTask")
                                </button>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Back", "Index", "Task")
    </div>
}